:root {
    --background: #001a15;
    --color: #f2fffd;
    --hover: #cbfff5;
    --visited: #00dfb4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #001a15;
        --color: #f2fffd;
        --hover: #cbfff5;
        --visited: #00dfb4;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #f2fffd;
        --color: #001a15;
        --hover: #007D65;
        --visited: #005545;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    -webkit-box-sizing: border-box;
}

*:focus:not(.focus-visible) {
    outline: none;
    color: var(--hover);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--color);
    font-family: 'Oxygen', sans-serif;
}

header {
    position: relative;
    top: 4rem;
}

section {
    padding-top: 6rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--color);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h3 {
    color: var(--color);
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.75rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: underline;
    color: var(--color);
}

a:visited {
    color: var(--visited);
}

a:hover {
    color: var(--hover);
}

a:focus {
    text-decoration: none;
}

.container{
    margin-bottom: 3rem;
    width: 80%;
    min-height: 100vh;
    margin-left: 10%;
    line-height: 1.5;
}

.nav-wrapper {
    width: 100vw;
    position: sticky;
	position: -webkit-sticky;
    top: 0;
    left: 0;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    z-index: 1000;
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    cursor: pointer;
}

#logo:hover {
    color: var(--hover);
}

#logo:focus-visible {
    color: var(--hover);
    border: 1px solid var(--hover);
}

nav {
    height: 6rem;
    display: flex;
    align-content: space-around;
    font-size: 2rem;
}

nav a {
    padding: 2rem;
    float: right;
    color: var(--color);
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--hover);
    text-decoration: underline;
}

nav a:focus {
    color: var(--hover);
    text-decoration: underline;
}

nav a:focus-visible {
    color: var(--hover);
}

@media (max-width: 768px) {
	
	.nav-wrapper {
		height: 8rem;
	}
    nav {
        flex-direction: column;
        padding: 0.5rem;
        float: right;
        background-color: var(--background);
    }
    nav a {
        padding: 0.25rem 1rem;
        font-size: 1rem;
		background-color: var(--background);
    }

}

#home h1 span {
    display: block;
}

#home h1 span:nth-child(1) {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

#home h1 span:nth-child(2) {
    font-weight: 700;
    font-size: 5rem;
}

#home p:nth-child(2) {
    font-weight: 700;
    font-size: 2rem;
    color: var(--color);
}

#home p:nth-child(3) {
    margin: 2rem 0 3.25rem 0;
    width: 48%;
    font-size: 1.5rem;
    color: var(--color);
    line-height: 1.6;
}

#home a {
    text-decoration: none;
    padding-bottom: 2rem;
}

@media (max-width: 798px) {
    #home p:nth-child(3) {
        width: 100%;
    }
}

svg {
    fill: var(--color);
    margin-right: 1rem;
}

svg:hover {
    fill: var(--hover);
    border: 1px solid var(--hover);
}

a:focus svg {
    fill: var(--hover);
    border: 1px solid var(--hover);
}

.btn {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.btn a {
    display: inline-block;
    padding: 1.5rem;
    background-color: transparent;
    border: 1px solid var(--color);
    border-radius: 5px;
    color: var(--color);
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
}

.btn a:hover {
    color: var(--background);
    background-color: var(--hover);
    cursor: pointer;
}

.btn a:focus {
    color: var(--background);
    background-color: var(--hover);
    cursor: pointer;
}

.project-left {
    display: inline-block;
    margin-bottom: 2rem;
}

.project-img {
    width: 55%;
    float: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid var(--color);
}

#cage {
    background: url(/media/cage-screenshot.png) no-repeat;
}

.project-img a img {
    width: 100%;
    height: 100%;
}

.project-img:hover {
    border: 1px solid var(--hover);
}

.project-img a:focus {
    color: var(--hover);
    border: 1px solid var(--hover);
}

.project-details {
    margin-top: 1.5rem;
    margin-left: 60%;
    padding: 1rem;
}

.project-details h3 a {
    color: var(--color);
    text-decoration: none;
}

.project-details h3 a:visited {
    color: var(--visited);
    text-decoration: none;
}

.project-details h3 a:hover {
    text-decoration: none;
    color: var(--hover);
}

.project-details h3 a:focus {
    color: var(--hover);
    text-decoration: none;
}

.project-details p {
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.project-details ul li {
    margin-top: 1rem;
    text-transform: uppercase;
}

.project-details .project-links a {
    text-decoration: none;
}

.project-details .project-links svg {
    margin: 2rem 2rem 2rem 0;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 3.33%;
}

.project-small {
    border: 1px solid var(--color);
    border-radius: 0.25rem;
}

.project-small h4 {
    padding: 2rem;
    height: 8rem;
    font-size: 1.5rem;
}

.project-small h4 a {
    color: var(--color);
    text-decoration: none;
}

.project-small h4 a:visited {
    color: var(--visited);
    text-decoration: none;
}

.project-small h4 a:hover {
    color: var(--hover);
}

.project-small h4 a:focus {
    color: var(--hover);
    text-decoration: none;
}

.project-small img {
    margin-left: auto;
    width: 100%;
}

.project-small .description {
    padding: 2rem;
}

.project-small .description p {
    padding-top: 2rem;
}

@media (max-width: 1024px) {
    .project-left {
        display: inline-block;
    }

    .project-list {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-gap: 5%;
    }

    .project-img {
        float: none;
        margin-left: 0;
        width: 100%;
        display: block;
    }
    .project-details {
        float: none;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        display: block;
    }
}

@media (max-width: 768px) {
    .project-list {
        display: inline-block;
        padding-bottom: 2rem;
    }
}

#about img {
    height: 200px;
    width: 200px;
    margin: auto;
    display: inline;
    float: right;
}

#about p {
    padding: 1.25rem 0;
    font-size: 1.25rem;
    line-height: 2;
}

#about p:nth-child(1) {
    width: 60%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--color), var(--hover), var(--color));
    margin: 2rem;
}

#about h3 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#about ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    list-style-type: none;
    width: 75%;
    margin: auto;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    line-height: 2;
}

@media screen and (max-width: 798px){
    #about ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        font-size: 1.5rem;
    }

}

#about li {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

#contact h2 {
    text-align: right;
    padding: 0.5rem;
}

.form-container {
    max-width: 680px;
    margin: 1rem auto;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 10px var(--visited);
}

form {
    padding: 2rem 3rem;
}

.form-input {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 0;
}

.form-input input
{
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    display: block;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid  var(--visited);
}

.form-input input[type=text] {
    font-weight: 400;
    color: var(--background);
}

.form-input input[type=email] {
    font-weight: 400;
    color: var(--background);
}

.form-input textarea {
    font-weight: 400;
    width: 100%;
    min-height: 4rem;
    max-height: 50vh;
    resize: none;
    overflow: auto;
    color: var(--background);
}

.form-input input::placeholder {
    opacity: 0.8;
    font-weight: 300;
}

.form-input textarea:focus {
    color: var(--background);
    outline: 2px solid var(--visited);
    border-radius: 4px;
}

.form-input input:active
{
    box-shadow: 0 0 8px var(--visited);
    outline: 2px solid  var(--hover);
}

.form-input input:focus
{
    box-shadow: 0 0 8px var(--visited);
    outline: 2px solid  var(--hover);
}

.form-input label
{
    display: block;
    margin: 3px;
    font-weight: 700;
    font-size: 1rem;
}

small
{
    color: red;
}

.form-input input[type=submit]
{
    display: inline-block;
    padding: 1.5rem;
    background-color: transparent;
    border: 1px solid var(--color);
    border-radius: 5px;
    color: var(--color);
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    margin-bottom: 0.25rem;
}

.form-input input[type=submit]:hover
{
    color: var(--background);
    background-color: var(--color);
    cursor: pointer;
}

.form-input input[type=submit]:focus
{
    color:var(--background);
    background-color: var(--color);
    cursor: pointer;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}

.form-footer a {
    color: var(--color);
}

.form-footer a:hover {
    color: var(--hover);
    text-decoration: underline;
    text-transform: uppercase;
}

.form-footer a:focus {
    color: var(--hover);
    text-decoration: underline;
    text-transform: uppercase;
}